.btn {
  font-size: 2.7em;
  padding: 0.05em 0.2em;
  line-height: 1em;
  background-image: linear-gradient(
      var(--secondary-color),
      var(--secondary-color)
    ),
    linear-gradient(var(--secondary-color), var(--secondary-color));
  background-size: 3px 58%, var(--btn-width) 3px;
  background-repeat: no-repeat;
  background-position: right bottom, right bottom;
  cursor: pointer;
  transition: var(--bottom-transition);
}

.btn:hover {
  background-size: 3px 58%, calc(var(--btn-width) + 10%) 3px;
}

.startBtn {
  --btn-width: 38%;
}

.rulesBtn {
  --btn-width: 25%;

  padding: 0.25em 0.2em;
}

.confirmBtn {
  --btn-width: 77%;
}

.backContainer {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 0.2em;
}

.backBtn {
  --btn-width: 51%;

  padding: 0.05em 0.22em;
}
