.btn {
  font-size: 2.7em;
  padding: 0.05em 0.2em;
  line-height: 1em;
  background-image: linear-gradient(
      var(--secondary-color),
      var(--secondary-color)
    ),
    linear-gradient(var(--secondary-color), var(--secondary-color));
  background-size: 3px 58%, var(--bottom-border-length) 3px;
  background-repeat: no-repeat;
  background-position: right bottom, right bottom;
  cursor: pointer;
  transition: var(--bottom-transition);
}

.btn:disabled {
  background-image: linear-gradient(
      var(--placeholder-color),
      var(--placeholder-color)
    ),
    linear-gradient(var(--placeholder-color), var(--placeholder-color));
  color: var(--placeholder-color);
  cursor: default;
}

.btn:hover {
  background-size: 3px 58%, calc(var(--bottom-border-length) + 10%) 3px;
}

.startBtn {
  --bottom-border-length: 38%;
}

.rulesBtn {
  --bottom-border-length: 25%;

  padding: 0.25em 0.2em;
}

.confirmBtn {
  --bottom-border-length: 77%;
}

.backContainer {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 0.2em;
}

.backBtn {
  --bottom-border-length: 51%;

  padding: 0.05em 0.22em;
}

.joinBtn {
  --bottom-border-length: 62%;

  font-size: 2.2em;
  padding: 0.25em 0.22em;
}

.btnBackground {
  background-color: var(--primary-color);
  padding: 0.2em 0.4em;
  box-shadow: var(--shadow);
  border-radius: 5px;
}

.btnBackground span {
  color: var(--secondary-color);
}

.gameBoardBtn {
  font-size: 1.8em;
  padding: 0.3em 0.27em;
}

.joinBackground {
  padding: 0.05em 0.23em;
}

.createBackground {
  padding: 0.2em 0.2em;
}

.createBtn {
  --bottom-border-length: 37%;

  font-size: 1.7em;
  padding: 0.3em 0.25em;
}

.keepBtn {
  --bottom-border-length: 62%;
}

.discardBtn {
  --bottom-border-length: 70.5%;
}

.readyBtn {
  --bottom-border-length: 26%;
}

.restartBtn {
  --bottom-border-length: 23%;
}

.exitBtn {
  --bottom-border-length: 41%;

  font-size: 1.8em;
  padding: 0.15em 0.27em;
}

.continueBtn {
  --bottom-border-length: 75%;

  font-size: 1.8em;
  padding: 0.32em 0.25em;
}

.continueBackground {
  padding: 0.25em 0.3em;
}
