.btn {
  font-size: 2.7em;
  padding: 0.05em 0.2em;
  line-height: 1em;
  background-image: linear-gradient(
      var(--secondary-color),
      var(--secondary-color)
    ),
    linear-gradient(var(--secondary-color), var(--secondary-color));
  background-repeat: no-repeat;
  background-size: 3px 58%, 38% 3px;
  background-position: right bottom, right bottom;
}

.rulesBtn {
  background-size: 3px 58%, 25% 3px;
  padding: 0.25em 0.2em;
}


.confirmBtn {
  background-size: 3px 58%, 77% 3px;
}

.backContainer {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 0.2em;
}

.backBtn {
  background-size: 3px 58%, 51% 3px;
  padding: 0.05em 0.22em;
}
