.viewContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 2%;
}

.topBar {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 2em;
  justify-items: center;
  grid-area: topbar;
}

.sideBar {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  row-gap: 2em;
  grid-area: sidebar;
}

.pageElements {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: auto 1fr;
  align-items: start;
  column-gap: 1em;
  width: 100%;
  grid-template-areas:
    "topbar sidebar"
    "game sidebar";
}

.gameElements {
  display: grid;
  justify-items: center;
  grid-area: game;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-template-areas: "opp opp";
}

.opponents {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: start;
  column-gap: 1em;
  row-gap: 1.5em;
  min-height: 230px;
  grid-area: opp;
}

.playerCardGridDrawPilePrompt {
  display: grid;
  justify-self: end;
  align-items: center;
}

.playerCardGrid {
  justify-self: end;
}

.playerCardGrid8 {
  position: relative;
  bottom: 10em;
}
