@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Black.ttf") format("truetype")
      font-weight-black,
    url("../public/fonts/Roboto-BlackItalic.ttf") format("truetype"),
    url("../public/fonts/Roboto-Bold.ttf") format("truetype"),
    url("../public/fonts/Roboto-BoldItalic.ttf") format("truetype"),
    url("../public/fonts/Roboto-Italic.ttf") format("truetype"),
    url("../public/fonts/Roboto-Light.ttf") format("truetype"),
    url("../public/fonts/Roboto-LightItalic.ttf") format("truetype"),
    url("../public/fonts/Roboto-Medium.ttf") format("truetype"),
    url("../public/fonts/Roboto-MediumItalic.ttf") format("truetype"),
    url("../public/fonts/Roboto-Regular.ttf") format("truetype"),
    url("../public/fonts/Roboto-Thin.ttf") format("truetype"),
    url("../public/fonts/Roboto-ThinItalic.ttf") format("truetype");
}

:root {
  --primary-color: #141225;
  --secondary-color: #ffce21;
  --primary-text-color: #fff;
  --placeholder-color: #8a8a8a;
  --background-gradient-color: #62606d;
  --bottom-transition: background-size 250ms ease-out;
  --shadow: 0 3px 10px #000000c7;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--primary-text-color);
  background: transparent
    radial-gradient(
      closest-side at 50% 50%,
      var(--primary-color) 0%,
      var(--background-gradient-color) 400%
    )
    0% 0% no-repeat padding-box;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: var(--primary-fontcolor);
  background: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
