.roundCounter {
  display: grid;
  grid-auto-flow: column;
  margin: 0;
  column-gap: 0.3em;
  font-size: 1.8em;
  font-weight: 500;
  padding: 0.15em 0.3em;
  line-height: 1em;
  background-image: linear-gradient(
      var(--secondary-color),
      var(--secondary-color)
    ),
    linear-gradient(var(--secondary-color), var(--secondary-color));
  background-size: 3px 58%, 78% 3px;
  background-repeat: no-repeat;
  background-position: right bottom, right bottom;
}

.roundCounter span {
  color: var(--secondary-color);
}

.statusbar {
  display: grid;
  margin: 0;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 0.3em;
  font-size: 1.4em;
  font-weight: 500;
  color: var(--secondary-color);
}

.modalContainer {
  display: grid;
  justify-items: center;
  background-color: var(--primary-color);
  padding: 1em 2em;
  box-shadow: var(--shadow);
  border-radius: 15px;
}

.modalContainer p {
  font-size: 2.7em;
  font-weight: 600;
  margin: 0;
}

.scoreList {
  padding: 0;
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-weight: 500;
}

.playerListItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.8em;
}

.playerScore {
  color: var(--secondary-color);
  justify-self: end;
}

.playerName {
  justify-self: start;
}
